<header class="bg-blue text-white">
    <app-header></app-header>
</header>
<main class="bg-blue text-white">
    <section>
        <div class="d-flex justify-content-center container-card-services">
            <div class="container-card-services__card d-flex col-md-4 p-3">
                <div class="p-3">
                    <img src="../../.././../assets/images/test/icons8-google-code.svg" alt="">
                </div>
                <div class="d-flex flex-column">
                    <h4 class="mb-3">Advanced Tools</h4>
                    <p>Scelerisque viverra mauris in aliquam sem fringilla ut.</p>
                </div>
            </div>
            <div class="container-card-services__card d-flex col-md-4 p-3">
                <div class="p-3">
                    <img src="../../.././../assets/images/test/icons8-google-drive.svg" alt="">
                </div>
                <div class="d-flex flex-column">
                    <h4 class="mb-3">Advanced Tools</h4>
                    <p>Scelerisque viverra mauris in aliquam sem fringilla ut.</p>
                </div>
            </div>
            <div class="container-card-services__card d-flex col-md-4 p-3">
                <div class="p-3">
                    <img src="../../.././../assets/images/test/icons8-google-images.svg" alt="">
                </div>
                <div class="d-flex flex-column">
                    <h4 class="mb-3">Advanced Tools</h4>
                    <p>Scelerisque viverra mauris in aliquam sem fringilla ut.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <app-title-section [text1]="'Gallery'" [text2]="'Our Project Portfolio'"></app-title-section>
        <app-project-section></app-project-section>
    </section>
    <section class="container-cta py-5">
        <h2 class="col-8 m-auto pt-5">It's Time To Take Your Digital Marketing image To The Next Level. We Are Always Here To Help You Grow Your Business</h2>
    </section>
    <section class="container-services pb-5">
        <app-title-section [text1]="'Services'" [text2]="'What We Have to Offer'"></app-title-section>
        <div class="d-flex pb-5">
            <div class="px-5 br-grey">
                <h3>SEO Optimization</h3>
                <p class="text-grey mt-4">Duis tristique sollicitudin nibh sit amet commodo nulla. Aliquet nec ullamcorper sit amet risus nullam eget felis eget.</p>
            </div>
            <div class="px-5 br-grey">
                <h3>Mobile App Marketing</h3>
                <p class="text-grey mt-4">Tincidunt vitae semper quis lectus nulla metus aliquam eleifend mi in nulla ut faucibus pulvinar elementum integer.</p>
            </div>
            <div class="px-5 br-grey">
                <h3>Mobile App Development</h3>
                <p class="text-grey mt-4">Arcu bibendum at varius vel pharetra vel. Nisl condimentum id venenatis a condimentum vitae sapien pellentesque.</p>
            </div>
            <div class="px-5">
                <h3>Creative Web Designs</h3>
                <p class="text-grey mt-4">Pellentesque diam volutpat commodo sed egestas. Mattis ullamcorper velit sed ullamcorper morbi. Quis vel eros donec ac odio.</p>
            </div>
        </div>
    </section>
    <section>
        <app-title-section [text1]="'FAQ\'s'" [text2]="'Our Expert Answers'"></app-title-section>
        <div class="d-flex align-items-center position-relative justify-content-end">
            <app-faq-section class="container-img-section col-6 position-absolute"></app-faq-section>
            <div class="container-img-faq overflow-hidden col-6">
                <img src="https://gaaga.wpengine.com/wp-content/uploads/2023/06/Gaaga-Home-1-Faq-Bg-Img-Ps.png" alt="">
            </div>
        </div>
    </section>
    <section>
        <app-title-section [text1]="'Client Feedback'" [text2]="'Happy Words From Happy Customer'"></app-title-section>
        <div class="d-flex flex-wrap">
            <app-testimonial-card class="col-12 col-md-6"></app-testimonial-card>
            <app-testimonial-card class="col-12 col-md-6"></app-testimonial-card>
            <app-testimonial-card class="col-12 col-md-6"></app-testimonial-card>
            <app-testimonial-card class="col-12 col-md-6"></app-testimonial-card>
        </div>
    </section>
    <section class="container-contact-cover d-flex flex-column justify-content-end">
        <div class="pb-0">
            <div class="scrolling-text-container">
                <span class="scrolling-text container-contact-cover__title-animations mb-4">Case study</span>
              </div>
        </div>
        <div class="p-5 pt-0">
            <h3 class="container-contact-cover__title mb-4">Get Fresh Energy With New Ideas</h3>
            <div class="cta-container">
                <div class="cta-line"></div>
                <div class="pulse-circle cta-dot"></div>
                <div class="cta-text font-prompt">Join now</div>
              </div>
        </div>
    </section>
</main>