<header class="bg-blue text-white">
    <app-header></app-header>
</header>
<main class="bg-blue text-white">
    <section id="cta_services">
        <div class="container-xl d-flex flex-wrap justify-content-center container-card-services">
            <div class="container-card-services__card d-flex col-12 col-md-4 p-3">
                <div class="p-2">
                    <img src="../../.././../assets/images/services/speed_icon.svg" alt="Speed icon">
                </div>
                <div class="d-flex flex-column p-1">
                    <h4 class="mb-3">Velocità ed efficienza</h4>
                    <p class="mb-0">Consegne rapide senza compromettere la qualità. Il tuo successo è la nostra priorità.</p>
                </div>
            </div>
            <div class="container-card-services__card d-flex col-12 col-md-4 p-3">
                <div class="p-2">
                    <img src="../../.././../assets/images/services/option_icon.svg" alt="Option icon">
                </div>
                <div class="d-flex flex-column p-1">
                    <h4 class="mb-3">Soluzioni personalizzate</h4>
                    <p class="mb-0">Strategie su misura per le tue esigenze. Ogni cliente è unico per noi.</p>
                </div>
            </div>
            <div class="container-card-services__card d-flex col-12 col-md-4 p-3">
                <div class="p-2">
                    <img src="../../.././../assets/images/services/trophy_icon.svg" alt="Trophy icon">
                </div>
                <div class="d-flex flex-column p-1">
                    <h4 class="mb-3">Eccellenza comprovata</h4>
                    <p class="mb-0">Un track record di successo e clienti soddisfatti. La tua crescita è la nostra missione.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <app-title-section [text1]="'Galleria'" [text2]="'Il nostro portfolio'"></app-title-section>
        <app-project-section></app-project-section>
    </section>
    <section class="container-cta py-5">
        <h2 class="col-12 col-md-8 m-auto p-3 p-md-0 pt-md-5">È il momento di <b class="text-gradient">elevare</b> la tua presenza digitale. Siamo qui per <b class="text-gradient">guidarti</b> verso l'eccellenza</h2>
    </section>
    <section class="container-services pb-5">
        <app-title-section [text1]="'Servizi'" [text2]="'I nostri servizi'"></app-title-section>
        <div class="d-flex flex-wrap pb-5">
            <div class="col-6 col-md-3 px-5 br-grey">
                <h3>Consulenza SEO</h3>
                <p class="text-grey mt-4">Ottimizza la tua presenza online e raggiungi il tuo pubblico target con la nostra <b>esperta consulenza SEO</b>.</p>
            </div>
            <div class="col-6 col-md-3 px-5 br-grey">
                <h3>Design e branding</h3>
                <p class="text-grey mt-4">Dai vita al tuo brand con un design accattivante e memorabile.</p>
            </div>
            <div class="col-6 col-md-3 px-5 br-grey bt-grey-mobile">
                <h3>Sviluppo web</h3>
                <p class="text-grey mt-4">Siti web responsive, veloci e user-friendly, progettati per convertire.</p>
            </div>
            <div class="col-6 col-md-3 px-5 bt-grey-mobile">
                <h3>Social media marketing</h3>
                <p class="text-grey mt-4">Strategie di marketing sui social media per aumentare la tua visibilità e il tuo engagement.</p>
            </div>
        </div>
    </section>
    <section>
        <app-title-section [text1]="'FAQ\'s'" [text2]="'Rispondiamo alle tue domande'"></app-title-section>
        <div class="d-flex align-items-center position-relative justify-content-end">
            <app-faq-section class="container-img-section col-10 col-md-6 position-absolute"></app-faq-section>
            <div class="container-img-faq overflow-hidden col-8 col-md-6">
                <img src="https://gaaga.wpengine.com/wp-content/uploads/2023/06/Gaaga-Home-1-Faq-Bg-Img-Ps.png" alt="">
            </div>
        </div>
    </section>
    <section>
        <app-title-section [text1]="'Feedback clienti'" [text2]="'Cosa dicono i nostri clienti'"></app-title-section>
        <div class="container-xl d-flex flex-wrap">
            <app-testimonial-card class="col-12 col-md-6"></app-testimonial-card>
            <app-testimonial-card class="col-12 col-md-6"></app-testimonial-card>
            <app-testimonial-card class="col-12 col-md-6"></app-testimonial-card>
            <app-testimonial-card class="col-12 col-md-6"></app-testimonial-card>
        </div>
    </section>
    <section class="container-contact-cover d-flex flex-column justify-content-end">
        <div class="pb-0">
            <div class="scrolling-text-container">
                <span class="scrolling-text container-contact-cover__title-animations mb-4">Caso studio</span>
              </div>
        </div>
        <div class="p-5 pt-0">
            <h3 class="container-contact-cover__title mb-4">I nostri casi di successo</h3>
            <div class="cta-container">
                <div class="cta-line"></div>
                <div class="pulse-circle cta-dot"></div>
                <div class="cta-text font-prompt" style="font-size: 14px;">Vedi adesso</div>
            </div>
        </div>
    </section>
    <section>
        <app-title-section [text1]="'Blog'" [text2]="'Ultime notizie'"></app-title-section>
        <div class="container-xl d-flex flex-wrap">
            <app-blog-card class="col-12 col-md-6 p-3"></app-blog-card>
            <app-blog-card class="col-12 col-md-6 p-3"></app-blog-card>
        </div>
    </section>
</main>