<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title class="font-prompt">What Kind Of Services Do You Offer?</mat-panel-title>
    </mat-expansion-panel-header>
    <p class="text-grey">Tempus iaculis urna id volutpat lacus laoreet non. Sed tempus urna et pharetra. Vestibulum rhoncus est pellentesque elit ullamcorper. Urna nec tincid aesent.</p>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title class="font-prompt">What Kind Of Technology Do You Use?</mat-panel-title>
    </mat-expansion-panel-header>
    <p class="text-grey">Tempus iaculis urna id volutpat lacus laoreet non. Sed tempus urna et pharetra. Vestibulum rhoncus est pellentesque elit ullamcorper. Urna nec tincid aesent.</p>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title class="font-prompt">How Much Do You Charge To Build A Business Website?</mat-panel-title>
    </mat-expansion-panel-header>
    <p class="text-grey">Tempus iaculis urna id volutpat lacus laoreet non. Sed tempus urna et pharetra. Vestibulum rhoncus est pellentesque elit ullamcorper. Urna nec tincid aesent.</p>
  </mat-expansion-panel>
</mat-accordion>
