<div class="container-card-testimonial p-5">
    <div class="container-card-testimonial__stars d-flex justify-content-end mb-3">
        <mat-icon>star_rate</mat-icon>
        <mat-icon class="ms-1">star_rate</mat-icon>
        <mat-icon class="ms-1">star_rate</mat-icon>
        <mat-icon class="ms-1">star_rate</mat-icon>
        <mat-icon class="ms-1">star_rate</mat-icon>
    </div>
    <div class="container-card-testimonial__text">
        <p>{{ recensione }}</p>
    </div>
    <div class="container-card-testimonial__name d-flex align-items-center">
        <img [src]="image" [alt]="nome + ' ' + cognome">
        <p class="mb-0 ms-4 font-prompt"><span class="text-orange font-prompt">{{ nome }}</span> {{ cognome }}</p>
    </div>
</div>