ul li {
    margin-bottom: 14px;
}

.services {
    ul {
        list-style-type: none;
        padding-left: 0;
        li {
            position: relative;
            cursor: pointer;
            transition: all 1s ease;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 6px;
                height: 6px;
                background-color: rgba(239,65,54,1);
                border-radius: 50%;
                opacity: 0;
                transition: all 1s ease;
            }
            &:hover {
                padding-left: 20px;
                color: rgba(239,65,54,1);
            }
        }
    }
}

.services ul li:hover::before {
    opacity: 1;
}

.title-section {
    font-size: 26px;
    margin-bottom: 30px;
}
