<footer class="bg-blue text-grey py-5">
    <div class="d-flex flex-wrap">
        <div class="col-12 col-md-6 px-5 pt-4">
            <p>Siamo una <b>agenzia digitale</b> dedicata a fornire soluzioni innovative per aiutare le aziende a crescere nel mondo online. La tua crescita è la nostra passione.</p>
        </div>
        <div class="col-6 col-md-3 p-3">
            <p class="text-white font-prompt title-section">Contatti</p>
            <ul class="list-unstyled">
                <li>Telefono: +000 - 123 - 456789</li>
                <li>Email: info@example.com</li>
                <li>Orario di lavoro: Lun-Ven 8.00-18.00</li>
            </ul>
        </div>
        <div class="col-6 col-md-3 p-3 services">
            <p class="text-white font-prompt title-section">Servizi</p>
            <ul>
                <li>Consulenza SEO</li>
                <li>Design e branding</li>
                <li>Web Design & Development</li>
                <li>UI & UX Designing</li>
                <li>Digital Marketing</li>
            </ul>
        </div>
    </div>
</footer>