<footer class="bg-blue text-grey pt-5">
    <div class="d-flex flex-wrap py-3 bt-grey">
        <div class="col-12 col-md-6 px-5 pt-4">
            <a href="/">
                <img class="pb-4" src="../../../assets/images/logo/nelumbo_design.svg" alt="Logo | Nelumbo Design" width="150" />
            </a>
            <p>Siamo una <b>agenzia digitale</b> dedicata a fornire soluzioni innovative per aiutare le aziende a crescere nel mondo online. La tua crescita è la nostra passione.</p>
        </div>
        <div class="col-6 col-md-3 p-3">
            <p class="text-white font-prompt title-section">Contatti</p>
            <ul class="list-unstyled">
                <li>Telefono: <a class="text-grey text-decoration-none" href="tel:+39123-456789">123-456789</a></li>
                <li>Email: <a class="text-grey text-decoration-none" href="mailto:info@example.com">info@example.com</a></li>
                <li>Orario di lavoro:<br> - Lun-Ven<br>- 8.00-18.00</li>
            </ul>
        </div>
        <div class="col-6 col-md-3 p-3 services">
            <p class="text-white font-prompt title-section">Servizi</p>
            <ul>
                <li>Consulenza SEO</li>
                <li>Design e branding</li>
                <li>Web Design & Development</li>
                <li>UI & UX Designing</li>
                <li>Digital Marketing</li>
            </ul>
        </div>
    </div>
    <div class="bt-grey py-3">
        <p class="text-center mb-0">Copyright <b class="text-prompt">©Nelumbo Design</b>. Tutti i diritti sono riservati</p>
    </div>
</footer>