<footer class="bg-blue text-grey py-5">
    <div class="d-flex flex-wrap">
        <div class="col-12 col-md-6 p-3">
            <p>Sodales ut etiam sit amet. Eget nulla facilisi etiam dignissim. Aliquam vestibulum morbi blandit cursus risus. Ultrices vitae auctor eu augue ut lectus. Ultricies integer quis auctor elit sed vulputate mi sit amet. </p>
        </div>
        <div class="col-6 col-md-3 p-3">
            <p>Contact Us</p>
            <ul class="list-unstyled">
                <li>No: 58 A, East Madison Street, Baltimore, MD, USA 4508</li>
                <li>Phone:+000 - 123 - 456789</li>
                <li>Mail:info@example.com</li>
                <li>Working Hours : 8hrs</li>
            </ul>
        </div>
        <div class="col-6 col-md-3 p-3 services">
            <p>Services</p>
            <ul>
                <li>Branding & Identity</li>
                <li>Web Design & Development</li>
                <li>Mobile App Development</li>
                <li>UI & UX Designing</li>
                <li>Digital Marketing</li>
            </ul>
        </div>
    </div>
</footer>