<div class="bg-blue border-bottom">
  <div class="container-xl">
    <mat-toolbar class="d-flex justify-content-between">
      <span class="logo">
        <a href="/">
          <img
            src="../../../assets/images/logo/nelumbo_design.svg"
            alt="Logo | Nelumbo Design"
            width="150"
          />
        </a>
      </span>
      <span class="menu-items d-none d-md-flex">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/services">Services</a>
      </span>
      <span class="cta-button">
        <button
          mat-icon-button
          class="d-block d-md-none"
          color="accent"
          (click)="clickMenu()"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <button class="d-none d-md-block font-prompt" mat-stroked-button color="accent">
          CTA Button
        </button>
      </span>
    </mat-toolbar>
  </div>
</div>