mat-toolbar {
    background-color: #fff;
    color: black;
    .logo {
      flex: 1;
      display: flex;
      align-items: center;
    }
  
    .menu-items {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;
  
      a {
        margin: 0 15px;
        text-decoration: none;
        color: black; // o qualsiasi altro colore desideri
      }
    }
  
    .cta-button {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .mat-mdc-outlined-button:not(:disabled) {
      border-color: rgb(244, 154, 58);
      color: black!important;
    }
  }

.sticky-header-active {
  background-color: rgba(21,23,28, 0.5);
  // box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

.wdt-header-with-blur-bg:before {
  content: '';
  width: 100%;
  height: 100%;
  background: transparent;
  top: 0;
  left: 0;
  position: absolute;
  backdrop-filter: blur(30px);
  fill-opacity: 0;
}