mat-toolbar {
  background-color: #fff;
  color: black;
  .logo {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .menu-items {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin: 0 15px;
      text-decoration: none;
      color: black;
    }
  }

  .cta-button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .mat-mdc-outlined-button:not(:disabled) {
    border-color: rgb(244, 154, 58);
    color: black !important;
  }
}