<div class="bg-blue">
  <div class="container-xl">
    <mat-toolbar class="d-flex justify-content-between">
      <span class="logo">
        <a routerLink="/">
          <img
            src="../../../assets/images/logo/nelumbo_design.svg"
            alt="Logo | Nelumbo Design"
            width="150"
          />
        </a>
      </span>
      <span class="menu-items d-none d-md-flex">
        <a class="cursor-pointer" routerLink="/">Home</a>
        <a class="cursor-pointer" routerLink="/blog">Blog</a>
        <a class="cursor-pointer" routerLink="/services">Services</a>
      </span>
      <span class="cta-button">
        <button
          mat-icon-button
          class="d-block d-md-none"
          color="accent"
          (click)="clickMenu()"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <a class="cta-button__call d-none d-md-flex font-prompt text-uppercase text-white text-decoration-none" href="tel:+">
          <mat-icon class="me-2">phone</mat-icon>
          Chiama ora!
        </a>
      </span>
    </mat-toolbar>
  </div>
</div>