.container-header {
    padding: 100px 0;
    &__description {
        border: 2px solid rgb(244, 107, 58);
        border-right: none;
        height: 80%;
    }
    &__image {
        max-height: 550px;
        img {
            -webkit-box-shadow: 13px 13px 25px -10px rgba(255,255,255,0.1); 
            box-shadow: 13px 13px 25px -10px rgba(255,255,255,0.1);
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;

        }
    }
}