<div class="container-general">
    <div class="d-flex pb-4">
        <app-sample-card class="col-3"></app-sample-card>
        <app-sample-card class="col-6 px-4"></app-sample-card>
        <app-sample-card class="col-3"></app-sample-card>
    </div>
    <div class="d-flex pb-4">
        <div class="width-44 p-5">
            <h2 class="mb-3">I nostri lavori recenti</h2>
            <p class="mb-5">
                Scopri alcuni dei progetti di cui siamo più orgogliosi. Ogni realizzazione è il risultato della nostra passione e dedizione.
            </p>
            <app-button-animation [label]="'Vedi tutto'" [width]="'150px'"></app-button-animation>
        </div>
        <app-sample-card class="width-28 pe-4"></app-sample-card>
        <app-sample-card class="width-28"></app-sample-card>
    </div>
</div>