.container-general {
    h2 {
        font-size: 46px;
    }
}

.width-28 {
    width: 100%;
    @media (min-width: 768px){
        width: 28%;
    }
}

.width-44 {
    width: 100%;
    @media (min-width: 768px){
        width: 44%;
    }
}