<header>
    <section class="container-xl container-header d-flex flex-wrap justify-content-between">
        <div class="container-header__container-text d-flex align-items-center col-12 col-lg-6">
            <div class="container-header__container-text__social d-flex flex-column justify-content-center">
                <div class="d-flex justify-content-center">
                    <ul class="list-unstyled">
                        <li><img src="../../../assets/images/social/facebook_white.svg" alt="Icona facebook | Nelumbo Design"></li>
                        <li class="mt-4"><img src="../../../assets/images/social/instagram_white.svg" alt="Icona instagram | Nelumbo Design"></li>
                        <li class="mt-4"><img src="../../../assets/images/social/linkedin_white.svg" alt="Icona linkedin | Nelumbo Design"></li>
                    </ul>
                </div>
                <div class="mt-5 d-flex align-items-center justify-content-between position-relative container-header__container-text__social__animation">
                    <div class="d-flex align-items-center">
                        <div class="pulse-circle"></div>
                        <div class="ms-2 animated-line"></div>
                    </div>
                    <a class="text-uppercase m-0 font-prompt" href="#skills">Scroll</a>
                </div>
            </div>
            <div class="container-header__container-text__title">
                <div class="mb-2">
                    <div class="d-flex align-items-center">
                        <div class="line-static-left"></div>
                        <div class="pulse-circle"></div> 
                        <p class="font-prompt text-grey mb-0 ms-3 container-header__container-text__title__top">Esperti Digitali</p>
                    </div>           
                </div>
                <div class="mb-5">
                    <h1 class="text-white mb-4">Guidiamo la <span class="text-gradient"> tua crescita</span> nel digitale <span style="font-size: 100px; line-height: 0; margin-left: -8px;" class="text-orange">.</span></h1>
                    <p class="text-grey">Esperti in marketing digitale, design e sviluppo web. Trasformiamo le tue idee in realtà e portiamo la tua azienda al successo.</p>
                </div>
                <div>
                    <app-button-animation [label]="'Scopri come'" style="font-size: 14px;"></app-button-animation>
                </div>
            </div>
        </div>
        <div class="container-header__container-image col-12 col-lg-6 d-none d-md-flex justify-content-center align-items-center">
            <img class="pulse-logo" src="../../../assets/images/logo/nelumbo_design_completo.svg" alt="Logo | Nelumbo Design">
        </div>
    </section>
</header>