<div class="container-header d-flex justify-content-between">
    <div class="container-header__container-text d-flex align-items-center col-12 col-md-6">
        <div class="container-header__container-text__social d-flex flex-column justify-content-center">
            <div class="d-flex justify-content-center">
                <ul class="list-unstyled">
                    <li class=""><img src="../../../assets/images/social/facebook_white.svg" alt=""></li>
                    <li class="mt-4"><img src="../../../assets/images/social/instagram_white.svg" alt=""></li>
                    <li class="mt-4"><img src="../../../assets/images/social/linkedin_white.svg" alt=""></li>
                    <li class="mt-4"><img src="../../../assets/images/social/twitter_white.png" alt=""></li>
                </ul>
            </div>
            <div class="mt-5 d-flex align-items-center justify-content-between position-relative container-header__container-text__social__animation" style="width: 165px; height: 165px;">
                <div class="d-flex align-items-center">
                    <div class="pulse-circle"></div>
                    <div class="ms-2 animated-line"></div>
                </div>
                <p class="text-uppercase m-0 font-prompt">Scroll</p>
            </div>
        </div>
        <div class="container-header__container-text__title">
            <div class="mb-2">
                <p class="font-prompt text-grey">Innovative Ideas</p>
            </div>
            <div class="mb-5">
                <h1 class="text-white mb-4">We Offer You <span class="text-red">A Digital</span> Platform <span style="font-size: 100px; line-height: 0;" class="text-red">.</span></h1>
                <h2 class="text-grey" style="font-size: 16px">Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Nisl purus in mollis nunc sed id sempe egestas quis ips.</h2>
            </div>
            <div>
                <p class="font-prompt text-white">Get started</p>
            </div>
        </div>
    </div>
    <div class="container-header__container-image col-12 col-md-6">

    </div>
</div>