.container-header {
    height: calc(100vh - 64px);
    &__container-text {
        &__social {
            ul {
                li {
                    width: 30px;
                    height: 30px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            &__animation {
                transform: rotate(90deg);
                color: #B5B5B5;
                a {
                    color: white;
                    transform: rotate(180deg);
                    text-decoration: none;
                }
            }
        }
        &__title {
            &__top {
                font-size: 26px;
            }
            h1 {
                font-size: 48px;
            }
        }
    }
    &__container-image {
        
    }
}