<header class="bg-blue text-white pt-5">
    <h1 class="text-center" [innerHTML]="blogPost.title"></h1>
    <app-breadcrumb></app-breadcrumb>
</header>
<main class="bg-blue text-white py-5">
    <div class="container-xl">
        <div class="text-center">
            <img [src]="blogPost.image" [alt]="blogPost.title">
        </div>
        <div class="text-center mt-5">
            <p class="text-grey my-5" [innerHTML]="blogPost.description"></p>
        </div>
        <ng-container *ngFor="let paragraph of blogPost.list_paragraph">
            <div class="mt-5">
                <h3 class="text-center text-white" [innerHTML]="paragraph.title"></h3>
                <p class="text-grey my-5" [innerHTML]="paragraph.description"></p>
            </div>
        </ng-container>
    </div>
</main>