.container-timeline {
  &__image {
    img {
      max-height: 400px;
      object-fit: cover;
      object-position: center;
    }
  }
  &__description {
    &__number {
      font-size: 50px;
      font-weight: 700;
      letter-spacing: 4px;
      -webkit-text-stroke: 0.5px white;
      color: transparent;
      text-transform: uppercase;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    &__title {
      font-size: 30px;
      font-weight: 600;
      letter-spacing: 2px;
    }
    &__desc {
    }
  }
}

.container-timeline__description:hover
  .container-timeline__description__number {
  -webkit-text-stroke: 1px rgb(244, 107, 58);
  color: rgb(244, 107, 58);
}

.separatore {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: rgb(244, 107, 58);
  }
}

.separatore-last {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 60%;
    background-color: rgb(244, 107, 58);
  }
}
