<ng-container *ngIf="dataTimeline">
    <ng-container *ngIf="isEven; else even">
        <div class="container-timeline position-relative pb-5" [ngClass]="isLast ? 'separatore-last' : 'separatore'">
            <div class="d-flex">
                <div class="col-5 container-timeline__image ps-5">
                    <img *ngIf="dataTimeline.image" class="w-100" [src]="dataTimeline.image" [alt]="dataTimeline.title">
                </div>
                <div class="offset-2 col-5 container-timeline__description">
                    <p *ngIf="dataTimeline.number" class="container-timeline__description__number font-prompt" [innerHTML]="dataTimeline.number"></p>
                    <p *ngIf="dataTimeline.title" class="container-timeline__description__title font-prompt" [innerHTML]="dataTimeline.title"></p>
                    <p *ngIf="dataTimeline.description" class="container-timeline__description__desc text-grey pe-5" [innerHTML]="dataTimeline.description"></p>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #even>
        <div class="container-timeline position-relative pb-5" [ngClass]="isLast ? 'separatore-last' : 'separatore'">
            <div class="d-flex">
                <div class="col-5 container-timeline__description ps-5">
                    <p *ngIf="dataTimeline.number" class="container-timeline__description__number font-prompt" [innerHTML]="dataTimeline.number"></p>
                    <p *ngIf="dataTimeline.title" class="container-timeline__description__title font-prompt" [innerHTML]="dataTimeline.title"></p>
                    <p *ngIf="dataTimeline.description" class="container-timeline__description__desc text-grey" [innerHTML]="dataTimeline.description"></p>
                </div>
                <div class="offset-2 col-5 container-timeline__image pe-5">
                    <img *ngIf="dataTimeline.image" class="w-100" [src]="dataTimeline.image" [alt]="dataTimeline.title">
                </div>
            </div>
        </div>
    </ng-template>
</ng-container>