.text-white {
    color: #ffffff;
}

.text-grey {
    color: #B5B5B5;
}

.text-blue {
    color: #111319;
}

.text-red {
    color: #DD4242;
}

.bg-white {
    background-color: #ffffff;
}

.bg-grey {
    background-color: #B5B5B5;
}

.bg-blue {
    background-color: #111319;
}

.bg-red {
    background-color: #DD4242;
}